<h3>Submit a new slacker entry</h3>
<div>
  <form method="POST" action="/entries">
    <input type="text" name="entry[title]" placeholder="title"><p>
    <input type="text" name="entry[submission_link]" placeholder="url"><p>
    <input type="submit" value="Submit">
  </form>
</div>